In [2]:
import pandas as pd

# Cargar datos desde un archivo CSV
df = pd.read_csv('C:/Users/ENRIF/Desktop/retail_sales_dataset.csv')

# Ver las primeras y últimas filas del DataFrame
print("Primeras filas del DataFrame:")
print(df.head())

print("nÚltimas filas del DataFrame:")
print(df.tail())

Primeras filas del DataFrame:
   Transaction ID        Date Customer ID  Gender  Age Product Category  \
0               1  2023-11-24     CUST001    Male   34           Beauty
1               2  2023-02-27     CUST002  Female   26         Clothing
2               3  2023-01-13     CUST003    Male   50      Electronics
3               4  2023-05-21     CUST004    Male   37         Clothing
4               5  2023-05-06     CUST005    Male   30           Beauty

   Quantity  Price per Unit  Total Amount
0         3              50           150
1         2             500          1000
2         1              30            30
3         1             500           500
4         2              50           100
nÚltimas filas del DataFrame:
     Transaction ID        Date Customer ID  Gender  Age Product Category  \
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
995         1              50            50
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120

In [4]:
# Obtener información general sobre el DataFrame
print("nInformación del DataFrame:")
print(df.info())

# Generar estadísticas descriptivas
print("nEstadísticas descriptivas del DataFrame:")
print(df.describe())

nInformación del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB
None
nEstadísticas descriptivas del DataFrame:
       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

In [9]:
# Inspeccionar los tipos de datos de las columnas
print("nTipos de datos de las columnas:")
print(df.dtypes)

# Contar valores únicos en una columna específica
print("nConteo de valores únicos en la columna 'nombre_columna':")
print(df['Date'].value_counts())

# Obtener valores únicos en una columna específica
print("nValores únicos en la columna 'nombre_columna':")
print(df['Product Category'].unique())

# Obtener el número de valores únicos en una columna específica
print("nNúmero de valores únicos en la columna 'nombre_columna':")
print(df['Customer ID'].nunique())

nTipos de datos de las columnas:
Transaction ID       int64
Date                object
Customer ID         object
Gender              object
Age                  int64
Product Category    object
Quantity             int64
Price per Unit       int64
Total Amount         int64
dtype: object
nConteo de valores únicos en la columna 'nombre_columna':
Date
2023-05-16    11
2023-07-14    10
2023-05-23     9
2023-08-05     8
2023-02-05     8
              ..
2023-09-10     1
2023-02-16     1
2023-03-31     1
2023-01-25     1
2023-05-28     1
Name: count, Length: 345, dtype: int64
nValores únicos en la columna 'nombre_columna':
['Beauty' 'Clothing' 'Electronics']
nNúmero de valores únicos en la columna 'nombre_columna':
1000

In [10]:
# Renombrar una columna
df.rename(columns={'Total Amount': 'Venta Total'}, inplace=True)
print("nDataFrame con columna renombrada:")
print(df.head())

# Cambiar el índice del DataFrame
df.set_index('Venta Total', inplace=True)
print("nDataFrame con nuevo índice:")
print(df.head())

nDataFrame con columna renombrada:
   Transaction ID        Date Customer ID  Gender  Age Product Category  \
0               1  2023-11-24     CUST001    Male   34           Beauty
1               2  2023-02-27     CUST002  Female   26         Clothing
2               3  2023-01-13     CUST003    Male   50      Electronics
3               4  2023-05-21     CUST004    Male   37         Clothing
4               5  2023-05-06     CUST005    Male   30           Beauty

   Quantity  Price per Unit  Venta Total
0         3              50          150
1         2             500         1000
2         1              30           30
3         1             500          500
4         2              50          100
nDataFrame con nuevo índice:
             Transaction ID        Date Customer ID  Gender  Age  \
Venta Total
150                       1  2023-11-24     CUST001    Male   34
1000                      2  2023-02-27     CUST002  Female   26
30                        3  2023-01-13     CUST003    Male   50
500                       4  2023-05-21     CUST004    Male   37
100                       5  2023-05-06     CUST005    Male   30

            Product Category  Quantity  Price per Unit
Venta Total
150                   Beauty         3              50
1000                Clothing         2             500
30               Electronics         1              30
500                 Clothing         1             500
100                   Beauty         2              50

In [11]:
# Ordenar el DataFrame por una columna
df_ordenado = df.sort_values(by='Customer ID')
print("nDataFrame ordenado por 'columna_orden':")
print(df_ordenado.head())

# Ordenar el DataFrame por múltiples columnas
df_ordenado_multi = df.sort_values(by=['Product Category', 'Venta Total'], ascending=[True, False])
print("nDataFrame ordenado por 'columna1' y 'columna2':")
print(df_ordenado_multi.head())

nDataFrame ordenado por 'columna_orden':
             Transaction ID        Date Customer ID  Gender  Age  \
Venta Total
150                       1  2023-11-24     CUST001    Male   34
1000                      2  2023-02-27     CUST002  Female   26
30                        3  2023-01-13     CUST003    Male   50
500                       4  2023-05-21     CUST004    Male   37
100                       5  2023-05-06     CUST005    Male   30

            Product Category  Quantity  Price per Unit
Venta Total
150                   Beauty         3              50
1000                Clothing         2             500
30               Electronics         1              30
500                 Clothing         1             500
100                   Beauty         2              50
nDataFrame ordenado por 'columna1' y 'columna2':
             Transaction ID        Date Customer ID  Gender  Age  \
Venta Total
2000                     74  2023-11-22     CUST074  Female   18
2000                     93  2023-07-14     CUST093  Female   35
2000                    139  2023-12-15     CUST139    Male   36
2000                    257  2023-02-19     CUST257    Male   19
2000                    281  2023-05-23     CUST281  Female   29

            Product Category  Quantity  Price per Unit
Venta Total
2000                  Beauty         4             500
2000                  Beauty         4             500
2000                  Beauty         4             500
2000                  Beauty         4             500
2000                  Beauty         4             500